body {
    background-color: black;
    
  }
  .container{
      margin-right: 40px;
  }
  
  
  .glow {
    font-size: 80px;
    display: block;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  .hh{
    height: 250px;

  }
  .hh1{
    height: 245px;

  }
  .hh2{
    height: 278px;


  }
  .hh3{
    height: 248px;


  }
